div{
    border-color: black;
    box-sizing: border-box;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    border-style: groove;
    padding-left: 10px;
    padding-right: 10px;
    background-color: cyan;
    border-radius: 10px;
    color: darkslateblue;
}
h1{
color: darkred;
}
input{
border-color: gray;
padding: 10px;
border-radius: 10px;
}
label{
text-align: center;
padding: 10px;
}
button{
background-color: red;
color: white;
padding: 10px;
border-radius: 10px;
}
table{
    margin: auto;
}
.a{
    color: chocolate;
}