<h1>Welcome To {{name}}</h1>

<!-- <button [disabled]="enabled">Click Me</button>

<br><br>

<button (click)="changevalue()">Change Property</button> -->


<br> <br>

{{name}}

<br> <br>

<input type="text" value="{{name}}" (input)="inputText($event)">
<button (click)="saveData()">save</button>

<br> <br>

<!-- 
<select name="" id="" (change)="onchangevalue($event)">
    <option value="">Select Suject</option>
    <option value="Android">Android</option>
    <option value="Java">Java</option>
    <option value="Flutter">Flutter</option>
    <option value=".NET">.NET</option>
</select>
<br> <br>
<select name="" id="" (change)="fruitchange($event)">
    <option  *ngFor="let fruit of fruits" value="{{fruit}}">{{fruit}}</option>
</select>
<br> <br>

selected Value - {{fruit}} -->

